#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main.content {
  padding-top: 110px; /* Should match the header height */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
