@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main.content {
  padding-top: 110px; /* Should match the header height */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  width: 100%; /* Ensure the table takes full width */
  border-collapse: collapse; /* Remove space between cells */
}

td {
  padding: 0; /* Remove padding from table cells */
  margin: 0; /* Remove margin from table cells */
}

th {
  padding: 0; /* Remove padding from header cells */
  margin: 0; /* Remove margin from header cells */
}